/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

/* typography */
a{
    text-decoration: none;
 }
h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 24px;
}
p{
    font-size: 18px;
    font-weight: 300;
}

/* typography end here */

.container{
    width: 80%;
    margin: 0 auto;
}

.orange{
    color:hsl(9,83%,58%);
}
.flex{
    display: flex;
    flex-wrap: wrap;

}
.justify-center {
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.col{
    flex-direction: column;
}
.center{
    text-align: center;
}

.p-20{
    padding: 20px;
}
.align-center{
    align-items: center;
}

/* navigation bar */
header{
    background-color: rgba(103,110,118, .9);
    width: 100%;
    padding: 20px;
    position: fixed;
    left: 0;
    z-index: 2;
}
.nav{
    text-transform: uppercase;
}
.nav li{
    padding: 10px;
    
}


 
.logo h3{
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.primary-nav li a{
    color: white;

}
.active-link{
    color: orange;
}
.sing-up{
    background-color: orange;
}
 
  /* hero section */
  .contain{
      margin: 1300px;
      margin: 0 auto;
      position: relative;
    }
  video{
      width: 100%;
  }
 .hero{
    background-color: hsla(207,12%,32%, 0.8);
    padding: 20px;
    width: 100%;
    height: 99.5%;
    position: absolute;
    top: 0;
    right: 0;
 }


 .main-title{
    position: relative;
    top: 320px;
    text-align: center;
    color: white;
    text-transform: uppercase;

 }
 .main-title h1{
     font-size: 72px;
     padding: 30px;
     
 }

 /* btn */
 .btn{
     background-color:hsl(9,83%,58%);
     padding: 10px;
     color: white;
      text-transform: uppercase;
 }
/* section titles */
.section-title{
    text-transform: uppercase;
    font-weight: 700;
    padding: 25px;
}
.section-text{
    width: 60%;
    margin: 0 auto;
    padding: 25px;
    margin-bottom: 66px;
}
 /* prgaram */
 .program{
     margin-top: 120px;
     
 }
 .title{
     text-align: center;
     text-transform: uppercase;
 }
 
 
.gold{
    width: 48%;
    margin: 5px;
}
.left{
    width: 20%;
}
.right{
    width: 80%;
    padding: 25px;
}
.right h4{
    padding-bottom: 15px;
    font-weight: bold;
}
.right p{
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.right a{
    margin-top: 20px;
}
.discover{
    text-transform: uppercase;
    margin-top: 25px;
}

/* Thinks */

.thinks{
    margin-top: 120px;
    padding-top: 66px;
    padding-bottom: 25px;
    text-align: center;
    color: white;
    background-image: url('/Level-1/assets/images/cta-bg.jpg');
}

.thinks-btn{
    padding: 66px;
}
.think-heading h2{
   font-size: 48px;
   padding: 25px;
   text-transform: uppercase;
}
.think-text p{
    line-height: 1.9;
    width: 80%;
    margin: 0 auto;
}


.col-40{
    width: 38%;
}
.col-60{
width: 58%;
}
.col-60 img{
    border-radius: 10px;
    margin-bottom: 15px;
}

.col-60 h3{
    font-weight: 700;
     color: rgb(92, 91, 91);
}
.col-60 p{
font-weight: 300;
line-height: 1.3;
margin-bottom: 30px;
margin-top: 10px;
}
.col-60 .btn{
    padding: 20px;
    font-weight: 300;
}
.col-40{
    font-weight: 700;
    color: rgb(92, 91, 91);
}
.col-40 .btn{
padding: 25px;
width: 420px;
  
}
.col-40 ul{
    margin-bottom: 66px;
}

.col-40 ul li{
    padding: 30px 50px;
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgba(59,59,59, .11);
    margin-bottom: 20px;
    border-radius: 10px;
 }
 .col-40 .btn {
    width: 100%;
    padding: 20px 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
 }
 
 .col-40 ul li h3{
     margin-left: 20px;
 }
/* classes */
.classes{
    margin: 66px 0;
     }

/* schedule */

.schedule{
    padding: 60px 0;
    background: hsla(207,12%,32%, 0.8) url(../images/schedule-bg.jpg);
    color: white;
}
.schedule-text{
    width: 60%;
    margin: 0 auto;
}
.schedule-nav{
    width: 50%;
    margin: 0 auto;
    margin-top: 66px 0;
    padding: 66px 0;
}
.schedule-nav li{
    padding-left: 20px;
 }
 .schedule-nav li a{
     color: white;
 }
 table{
     width: 100%;
 }
 table, th, td {
    border: 2px solid #fff;
    border-collapse: collapse;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    padding: 35px 60px;
    vertical-align: middle;
    text-align: center;
}

